<!DOCTYPE html>
<html>

<body>
    <h1> Edit Team </h1>
    <form action="#" method="POST">
        <label> Name : </label>
        <input type="text" maxlength="30" name="name" value="{{teams.name}}">
        <br>
        <br>
        <label> Team Stadium :</label>
        <input type="text" maxlength="250" row="3" name="location" value="{{teams.location}}">
        <br>
	<br>
        <label> Year Started :</label>
        <input type="text" maxlength="250" row="3" name="yr_strtd" value="{{teams.yr_strtd}}">
        <br>
        <br>
        <label> Image_url :</label>
        <input type="text" maxlength="250" row="3" name="image_url" placeholder="image" value="{{teams.image_url}} class="coverurl" >
        <br>
        <br>
        <input type="submit" value="Save">
        <a href="{{url_for('ShowTeams' , category_id = category_id)}}">Cancel </a>
</body>
</html>