{% extends "main.html" %}
{% block content %}
	<h1>Latest Teams</h1>
	<div>
	{% for teams in latest_teams %}
		{% for category in categories if teams.category_id == category.id %}
			<div>
			<a href="{{url_for('ShowTeams' , category_name = category.name , teams_name = teams.name)}}">
				{% if teams.image_url != none %}
					<div style ="background-image:url('{{teams.image_url}}')" class="image"></div>
				{% else %}
					<div class="No-image">No image </div>
				{% endif %}
			</a>

			<div>
				<h2>{{teams.name}}</h2>
				<div>{{category.name}}</div>
			</div>	
			<div>
				<a href="{{url_for('ShowTeams', category_name= category.name, teams_name = teams.name)}}">detail</a>
			</div>
	</div>
	{% endfor %}
	{% endfor %}
</div>