<!DOCTYPE html>
<html>

<body>
    <h1> New Team </h1>
    <form action="#" method="POST">
        <label> Name : </label>
        <input type="text" maxlength="30" name="name" placeholder="Name of Team">
        <br>
	<br>
        <label> Stadium :</label>
        <input type="text" maxlength="250" row="3" name="location" placeholder="Location of Stadium">
        <br>
        <br>
        <label> Year Started :</label>
        <input type="text" maxlength="250" row="3" name="yr_strtd" placeholder="Year Team Started in League">
        <br>
        <br>
        <label> Image_url :</label>
        <input type="text" maxlength="250" row="3" name="image_url" placeholder="image">
        <br>
        <br>

        <input type="submit" value="Create">

</body>

</html>